<nav class="navbar navbar-light bg-light">
  <div class="container">
    <%= link_to root_path do %>
      <i class="fa-solid fa-video me-2"></i>
      <i class="fa-solid fa-list"></i>
      <% end %>
    <div>
    <%= link_to "New list", new_list_path %>
  </div>
</nav>
